<section id="education" class="section">
  <h2>Education</h2>
  {{ range .Site.Data.education.entries }}
  <article class="education">
    <header>
      <span class="school">
        {{ .school }}
      </span>
    <span class="separator">-</span>
    <span class="location">
      {{ .location }}
    </span>
    <span class="year">
        {{ .years }}
      </span>
    </header>
    {{ if .note }}
    <div class="note small">
      {{ .note }}
    </div>
    {{ end }}
    <div class="degrees">
      {{ range .degrees }}
      <div class="degree">
        <span class="title">{{- .title -}}</span>
        {{- if .attributes -}}
        <span class="attributes small">
          {{ delimit .attributes ", " }}
        </span>
        {{ end }}
      </div>
      {{ end }}
    </div>
    {{ if .gpa }}
    <div class="gpa">
      [GPA]: {{ .gpa }}
      {{- with .distinction -}}, {{ . }}{{- end -}}
    </div>
    {{ end }}
    {{ if .honors }}
    <div class="education-meta honors">
      <span class="education-meta-label">[Honors]:</span>
      <span class="education-meta-content">{{ delimit .honors ", " }}</span>
    </div>
    {{ end }}
  </article>
  {{ end }}
</section>
